/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import "utilities/variables";
@import "utilities/mixin";
/* Estilos generales */
.margenUnRem{
    margin: 1rem;
}
.paddingUnRem{
    padding: 1rem;
}
body{
    background-color: $colorBody;
}
footer{
    @include flex (flex,center,center,center);
    grid-area: footer;
}
/* ----------Estilos del html Index---------- */
.contenedorInicio{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8fr 2fr 1fr;
    grid-template-areas: "main"
                         "clientes"
                         "footer";
}
.mainInicio{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.nuestrosClientesInicio{
    grid-area: clientes;
    background-color: #4B9CD3;
    @extend .mainInicio;
    justify-content: center;
    gap: 1rem;
}
.logoCliente{
    height: 2rem;
    margin: 0.2rem;
}
/* ----------Estilos del html Nosotros---------- */
.contenedorNosotros{
    height: 100vh;
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: 7fr 1fr;
    grid-template-areas: "main"
                         "footer";
}
.imgIngenieroNosotros{
    width: 98vw;
}
/* ----------Estilos del html Productos---------- */
.contenedorProductos{
    height: 100vh;
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: 2fr 5fr 2fr;
    grid-template-areas: "main"
                         "videos"
                         "footer";
}
.contenedorVideosProductos{
    grid-area: videos;
}
.videoProductos{
    width: 100vw;
}
/* ----------Estilos del html Servicios---------- */
.contenedorServicios{
    height: 100vh;
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: 7fr 1fr;
    grid-template-areas: "main"
                         "footer";
}
/* ----------Estilos del html Contacto---------- */
.contenedorContacto{
    height: 100vh;
    display: grid;
    grid-template-columns: 1 fr;
    grid-template-rows: 5fr 5fr 2fr;
    grid-template-areas: "contacto"
                         "ubicacion"
                         "footer";
}
.mapaContacto{
    width: 100vw;
    padding: 1rem;
}
@import "utilities/mq_desktop";