@mixin flex ($display,$direccion,$justificacion,$alineacion,$texto) {
    display: $display;
    flex-direction: $direccion;
    justify-content: $justificacion;
    align-items: $alineacion;
    text-align: $texto;
}