/* ---------------------------------------------Media querie para desktop--------------------------------------------- */
@media screen and (min-width: 1200px) {
    /* ----------Estilos del html Index---------- */
    .logoCliente{
        height: 4rem;
        margin: 1rem;
    }
    .logoCliente:hover{
        transform: scale(1.5);
    }
    /* --------Estilos del html Productos-------- */
    .videoProductos{
        height: 25rem;
    }
    /* --------Estilos del html Contacto--------- */
    .mapaContacto{
        height: 75vh;
    }
    .consultaContacto{
        height: 15rem;
    }
}